html, body, .container-fluid {
  height: 100%;
  width: 100%;
}
body {
  padding: 15px;
}
p {
  margin: auto;
  font-size: larger;
}
.row {
  padding-top: 10px;
  padding-bottom: 10px;
}
#bottom-links {
  margin-top: 40px;
}
.img-link {
  width: 100px;
  height: 100px;
}
